<style>
.promo_parent{
    padding-top: 8px;
    margin-left: -10px;
    width: calc(100% + 20px);
}
.promo_row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.promo_item_a{
    padding: 10px;
}
.promo_item{
    border-radius: 6px !important;
    box-shadow: 1px 1px 10px #eee;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%;
    flex-basis: 30%;
}
.promo_item:hover {
    transform: scale(1.04);
    box-shadow: 1px 1px 30px #aaa;
}
.pi_format_1{  flex-grow: 4; max-width: 50%; }
.pi_format_2{  flex-grow: 2; max-width: 25%; }
.pi_format_3{  flex-grow: calc(8 / 6); max-width: calc(100% / 6); }
</style>
{# <div style="height: 50px"></div> #}
<div class="promo_parent">
{% for row in rows %}
    <div class="promo_row">
        {% for item in row %}
            <a {{ item.link }} class="promo_item_a pi_format_{{ item.format }}">
                <img class="promo_item" src="{{ item.image }}" />
            </a>
        {% endfor %}
    </div>
{% endfor %}
</div>